{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}

<br><br><br>
<hr class='featurette-divider'>
<div id='contact-block' class="container">
  <h1 id='contact-header'>Contact</h1>
  <p><strong>Phone:</strong> 510-521-3172</p>
  <p><strong>Email:</strong> riberainvestments@comcast.net</p>
  <p><strong>Fax:</strong> 510-521-0579</p>
</div>

<br>

<hr class='featurette-divider'>
<br><br>
<p id='contact-location'>Our office is conveniently located at the Harbor Bay Landing on Alameda's Bay Farm island.</p>
<br><br>
	<div class='container-fluid'>
		<div id="map"></div>
	</div>

<script>
	function myMap() {
	var myLatLng = {lat: 37.737185, lng:-122.240229};
  var mapOptions = {
      center: new google.maps.LatLng(myLatLng),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
  }
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        });
 //resize stuff
	google.maps.event.addDomListener(window, "resize", function() {
  var center = map.getCenter();
  google.maps.event.trigger(map, "resize");
  map.setCenter(center);
  });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ35sih6lcyRYa16p6L2ZP4MIeqH6NkNM&callback=myMap"></script>
<br><br><br>

<h1 id='contact-email' style="">Contact Us</h1>
<form class="form-group" action="?" method="POST">
  {% csrf_token %}
  <div class="form-group" style="max-width: 500px;margin: auto;">
    <label class="control-label" for="full_name">Full Name:</label>
    <input type="full_name" class="form-control" id="form-control" placeholder="Enter your name" name="full_name">
  </div>
  <br>
  <div class="form-group" style="max-width: 500px;margin: auto;">
    <label class="control-label" for="from_email">Your Email:</label>
			<input type="from_email" class="form-control" id="form-control" placeholder="Enter email address" name="from_email">
  </div>
  <br>
  <div class="form-group" style="max-width: 500px;margin: auto;">
    <label class="control-label" for="subject">Subject:</label>
    <input type="subject" class="form-control" id="form-control" placeholder="Subject" name="subject">
  </div>
  <br>
  <div class="form-group" style="max-width: 500px;margin: auto;">
    <label class="control-label" for="message">Email body:</label>
    <textarea style="height: 200px;" type="message" class="form-control" id="form-control" placeholder="Email body" name="message"> </textarea>
    </div>
  </div>
  <br>
	<script type="text/javascript"> 
	  function onHuman(response) { 
	    document.getElementById('captcha').value = response; 
	  } 
	</script>
	<center><div class="g-recaptcha" data-callback="onHuman" data-theme="dark" data-sitekey="6Lfn1zkUAAAAAFLK0v_HGY9DwO76lt0C9-rd6dpm"></div>
	<input type="hidden" id="captcha" name="captcha" value="">

  <br>
  <center><div class="form-actions">
    <button class="btn btn-default btn-md" type="submit">Send</button>
  </div>
</form>

{% endblock %}
