{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<div class="row" id='about-small-hr'>
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<br>
		<hr class="featurette-divider">
	</div>
</div>
<br><br>
<div class='row'>
	<div class=col-sm-3>
		<div class='card'>
	    <img id='about-ty-pic' src="{% static 'info/img/Tylerclose.jpg' %}" alt="ty">
			<h3 id='ty-card'>Tyler</h3>
	    <p id='ty-card-text'>President & Co-founder of RIBERA Investment Management</p>

  	</div>
	</div>

	<div class=col-sm-6>
		<hr class="featurette-divider">
		<h1 class='about-header'>Tyler Ribera</h1>
		<p class='about-paragraph'>Tyler graduated with a degree in economics from UC Berkeley and holds a Masters degree in Monetary Economics from CSU East Bay.
    Tyler co-founded RIBERA Investment Management LLC alongside his father, Gilbert Ribera, in 1994.  Prior to this position, Tyler worked at Charles Schwab in the Advisor Services Department, now Schwab Institutional.<p>

	  <br><br>

		<hr class='featurette-divider'>
		<h1 class='about-header'>Business Philosophy</h1>
		<p class = 'about-paragraph'>The philosophy of Ribera Investment Management is to provide our clients with useful information for all of life's financial activities for a reasonable fee.  Our financial strategies aim at allowing you to accumulate high returns while protecting your hard-earned savings from inflation and taxes within the risk framework that you select.  We will introduce you to concepts and practices that will make your financial future more secure. </p>

		<br><br>

		<hr class='featurette-divider'>
	  <h1 class='bmodel-header'>Our Business Model</h1>
	  <div id='bmodel1'>
	    <p>We are an independent Investment Advisory firm, registered with the California Department of Business Oversight.  We are fee-based, so that your interests (seeing your account grow in value) and our interests are perfectly aligned.  Additionally, we are a “fiduciary”, meaning your interests always come before our own.<br><br>

	    Our fees for managing money for our clients is based upon the total assets under management.  We don’t charge commissions, and work to find ways for our clients to also avoid paying any additional fees or commissions. <br><br> 
	    Our minimum account size for new accounts is $500,000. <br><br>

	    Our annual filing of Form ADV is available to review. <a href='https://docs.google.com/document/d/1qYhyFQpzqaB-Gntal_P6fPXwmty0dfHt5-kWVSCRsY4/edit?usp=sharing' target="_blank">Click to view our ADV brochure</a>

	  </div>
	  <br>
	  <div id='bmodel2'>
	    <p>Feel free to contact us for more information.</p>
	    <p>We look forward to meeting with you!</p>
	  </div>
	  <br><br>
	  <hr class='featurette-divider'>
	</div>
</div>
<br><br>
<img id='about-banner' src='{% static "info/img/btb.png" %}' class='img-responsive'>
{% endblock %}