{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<br><br>
<h2 id='resources-toc'>Table of Contents</h2>
<div id='resource-buttons'>
	<a href='#r-company-header'><button type="button" class="btn btn-default btn-lg btn-block">Company Outlook</button></a>
	<a href='#r-history-header'><button type="button" class="btn btn-default btn-lg btn-block">Company History</button></a>
	<a href='#r-investment-header'><button type="button" class="btn btn-default btn-lg btn-block">Investment Strategy</button></a>
	<a href='#resource-cs-block'><button type="button" class="btn btn-default btn-lg btn-block">Charles Schwab</button></a>
	<!-- <a><button type="button" class="btn btn-default btn-lg btn-block">Riskalyze</button></a> -->
</div>
<br><br>
<hr class='featurette-divider'>
<br>
<div class="container">
	<div class='row'>
		<div id='r-company-block' class="col-sm-12 well">

			<h2 id='r-company-header'>Company Outlook</h2>
			<p>We started our business by serving teachers nearing retirement.  Teachers still make up the core of our business.  My Dad (with whom I started this business nearly 25 years ago), was a teacher.  For a time, I followed in his footsteps, teaching investment courses at the local community college.<br><br>

			As an investment advisor, part of my job is educating clients on the fundamentals of investing.  We do that through regular communication.  We provide an educational quarterly newsletter.  For clients who want to be more involved, we can provide links to third party educational material and more in-depth research.<br><br>

			We don’t assume that our clients are fully versed in the complexities of the  investment business.  We don’t speak in jargon.  And we keep our investment strategy simple and easy to understand.  If an investment product is difficult to understand, we avoid it.<br><br>

			But teaching is only part of the equation.  A much bigger part of our job, is listening.  Each client has unique concerns, questions and goals.  It doesn’t make sense to tell a client what we think about investing, until we know how a client feels about investing.<br><br>

			We also want clients feeling good about investing.  Just like our clients, we have families and want to leave the world a better place for our kids.  We try to match a client’s values with their investment portfolio.  We do this by researching Socially Responsible Investments.  We can provide investments that meet criteria based on; sustainability, faith, environmental, social, governance, and other factors.<br><br>

			Lastly, we want clients to rest assured that their portfolio matches their risk tolerance.  We do this by evaluating a client’s risk tolerance based on their investment experience, age, goals, and their temperament.<br>  <br>

			Most clients are not trying to beat the market (nor should they).  Most clients want to participate in market gains to the extent that they can stomach the inevitable downturns.  We use a questionnaire and a discussion of portfolio models to estimate a client’s risk tolerance.  Then we can match a portfolio to that number.  In this way, a client can be confident that their portfolio is aligned with their goals and risk tolerance.<br><br>

			Nothing beats experience, however.  The longer we work with a client, the more we can fine-tune their actual comfort level with various investment portfolios and market situations.  That’s why building long-term relationships is so important in our business.<br><br>

			We strive to build long-term relationships with our clients.  It not only makes doing business together more fun, but makes the relationship more successful and the results more profitable.<br><br>  

			We truly enjoy working with our clients, and helping to ensure a comfortable retirement for them.  We always put the relationship first, no matter what.  And we always make integrity a priority over profit. </p><br><br>

		</div>
		<div class="col-sm-12">
			<hr class="featurette-divider">
			<br>
		</div>
		<div id='r-history-block' class='col-sm-12 well'>
			<h2 id='r-history-header'> RIBERA INVESTMENTS, Company History</h2>
			<p>Written by Tyler Ribera, company president</p>

			<p id='r-history-text'>		
			In 1986, I began working for Charles Schwab and Co. at their headquarters in downtown San Francisco.  That was a seminal experience for me; where I met my wife, Sandra, where I passed the Series 7 and 63 exams, and where I gained much of my investment knowledge and experience.  Part of my time there was spent working with Investment Advisors like myself now.  I would place trades, handle investment situations, calculate margin requirements, resolve issues with their relationship with Schwab, etc. <br><br>

			I met many of these advisors personally, and a lot of them reminded me of my Dad.  They were knowledgeable, friendly, professional, and seemed to have a high degree of integrity.  Meanwhile, my Dad was going on 30 years as a business professor at Chabot College.  He regularly met with other teachers who were nearing retirement.  They would seek him out for advice on which retirement options to choose, and how to plan their retirement.<br><br>

			At one point I told my Dad that he should consider becoming an investment advisor, similar to the ones I had been working with.  He said that he would consider it only if I would go into business with him.  And that's where it stopped for a while.  I had a steady job that I liked, and wasn't ready to give that up.<br><br>

			In 1992, shortly after Sandra and I were married, my department at Schwab (Schwab Institutional) announced that it would be moving to Phoenix, Arizona.  My options were to move to Phoenix and stay with Schwab, or leave my job and start this business with my Dad.<br><br>

			For almost 20 years, my Dad and I built this business together.  We built it slowly, client by client.  We fell into our various roles naturally.  My Dad handled much of the administrative, regulatory, and accounting aspects of the business, and I handled much of the investment research and communications with Schwab.  The client relationships we always handled together, usually meeting with clients together in the conference room.<br><br>

			In the late 1990's, I began taking night classes at Cal State East Bay and earned a Master's degree in Economics.  My wife and I became parents of three boys during that time.  I also followed in my Dad's footsteps and began teaching a night class on Personal Investing at Chabot College.<br><br>

			Meanwhile, managing investments in a volatile market was not always easy.  We endured the collapse of the tech bubble, and the market closure following the tragedy at the Twin Towers on 9/11, the sub-prime mortgage meltdown of 2008 and 2009, and many ups and downs both in the markets and in the lives of our clients.<br><br>

			Over nearly two decades, my Dad and I worked together, played golf together and had our annual, RIBERA Investment Management, LLC Christmas party together.  That would be the long lunch at La Val's Pizza sometime in December, where my Dad and I would share a pizza and a pitcher of beer.<br><br>

			Since his passing in 2010, I've run the business mostly on my own.  I've tried to stay true to his values and his vision of working with clients.  He truly enjoyed, as I do, working with our clients, and helping to ensure a comfortable retirement for them.  He always put the relationship first no matter what.  And he always made integrity a priority over profit.<br><br>

			I like to think that he would be proud of the way that RIBERA Investment Management, LLC and it's clients have continued to strengthen and prosper in his absence.
			</p>
			<br><br>
		</div>
		<div class="col-sm-12">
			<hr class="featurette-divider">
			<br>
		</div>
		<div id='r-investment-block' class="col-sm-12 well">
			<h2 id='r-investment-header'>Investment Strategy</h2>
			<p>We normally build a diversified portfolio of high-rated, no-load mutual funds.  This allows for maximum diversification with a minimum of cost.  In fact, many of these mutual funds can be bought and sold at no cost.<br><br>The amounts of each fund held is determined by the client’s risk profile and goals, which are tailored to each client’s individual situation.<br><br>
			We can also allocate some of a portfolio to Certificates of Deposit (CDs).  Normally, we will structure a portfolio (or partial portfolio) of CDs so that  some of the CDs mature at regular intervals.  This is called “laddering” the maturity dates.  A marketplace of CDs is available through Schwab at no cost.<br><br>
			This allows clients to take advantage of the FDIC insurance on all CDs purchased with us.<br><br>
			In some cases, clients will arrive with individual stocks, which we can also hold and manage.  Most of our stock portfolios hold high quality (blue chip), dividend paying stocks, meant to be held for the long-term. </p>
			<br><br>
		</div>
		<div class="col-sm-12">
			<hr class="featurette-divider">
			<br>
		</div>
		<div id='resource-cs-block' class="col-sm-12 well">
			<!-- <h2>charles SCHWAB</h2> -->
			<!-- <br> -->
			<img id='rc-cs-pic' src='{% static "info/img/charles-schwab-logo.png" %}' class='img-responsive'>
			<br>
			<blockquote class="blockquote">
				Don't Let Short-Term Market Movement Distract You From Your Longer-Term Plan <footer class="blockquote-footer">Charles Schwab</cite></footer>
			</blockquote>
		</div>
	</div>

</div>
{% endblock %}