{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<br><br>
<img id='banner' src='{% static "info/img/btb.png" %}' class='img-responsive'>
<div id='al' class='row'>
	<div class=col-sm-3>
	</div>
	<div class=col-sm-6>
		<br>
		<hr class='featurette-divider'>
		<center><h1 style="padding-top:17px;">Business Philosophy</h1></center>
		<p style="font-size: 17pt">The philosophy of Ribera Investment Management is to provide our clients with useful information for all of life's financial activities for a reasonable fee.  Our financial strategies aim at allowing you to accumulate high returns while protecting your hard-earned savings from inflation and taxes within the risk framework that you select.  We will introduce you to concepts and practices that will make your financial future more secure. </p>
		<br><br>
		<hr class='featurette-divider'>
	</div>
</div>


<div class='row'>
	<div class=col-sm-3>
		<div class='card' style='background-color:#2d2d2d;'>
	    	<img id='ty' src="{% static 'info/img/Tylerclose.jpg' %}" alt="ty">
			<h3 style="text-align:center;color: white;">Tyler</h3>
	      	<p style="font-size:14pt;color:white;text-align:center;padding:0px 5px 10px 5px;">President & Cofounder of RIBERA Investments</p>

  		</div>
	</div>

	<div id='al' class=col-sm-6>

		<h1>Tyler Ribera</h1>
		<p style="font-size: 17pt;">Tyler Graduated with a degree in economics from UC Berkeley and holds a Masters degree in Monetary Economics from CSU East Bay.

Tyler co-founded RIBERA Investment Management, LLC in 1994.  Prior to this position, Tyler worked at Charles Schwab in the Advisor Services Department, now Schwab Institutional.<p>
	  <br><br>
		<hr class='featurette-divider'>
  </div>
</div>
{% endblock %}