<!DOCTYPE html>
<html lang="en">

<head>
	<title>RIBERA Investments</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
 	<link rel="shortcut icon" href="{% static 'info/img/textcube.png' %}">
	<meta name="viewport" content = "width=device-width, initial-scale=.95">

	<!-- General Styling Sheets -->
	<link rel="stylesheet" href="{% static 'info/css/bootstrap.min.css' %}"/>
 	<link rel="stylesheet" href="{% static 'info/css/ss.css' %}"/>
 	<link rel="stylesheet" href="{% static 'info/css/justified-nav.css' %}"/>

 	<!-- For Linkedin Icon -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- For Ubuntu Font -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:400" />

	<!-- Handles Active Navbar Tabs (Order Matters) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'info/js/Active.js' %}"></script>
	

	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>

<body style="font-family: 'Ubuntu', sans-serif;background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%), url({% static 'info/img/sky.jpg' %});">
    <div class='container-fluid'>
	    <div class='row'>
	      <div id='top-header' class='col-sm-12' style="padding-left:50px;">
	        <img src="{% static 'info/img/textcube.png' %}" style='height:50px;padding-top:5px;'>

	        <h1 style='display:inline;color:#000;font-weight:bold;vertical-align:bottom;'>RIBERA Investment Management LLC &#174;<small style="float:right;padding-right:25px;font-weight:bold;padding-top:30px;color:#28466f;">Alameda, California</small></h1>
	      </div>
	    </div>
	    <div class='row' style="padding-top:10px;padding-right:20px;padding-left:20px;"> 
	      <div class='col-sm-12'>
	  			<div class="masthead">
	        	<nav>
	  			    <ul class="nav nav-justified">
	  			      <li><a href="/">Home</a></li>
	              	      <li><a href="/about/">About</a></li>
	             		      <li><a href="/services/">Services</a></li>
	  			              <li><a href="/resources/">Resources</a></li>
	             		      <li><a href="/contact">Contact</a></li>
	  			    </ul>
	  			  </nav>
	  			</div>
	  		</div>
	  	</div>
    </div>


  <div class='container-fluid'>
     {% block content %}
     {% endblock %}
  </div>

	<footer class="footer navbar-fixed-bottom" data-toggle='collapse'>
	  <div class ='container-fluid'>
	    <div class='row'>
	      <div id='footer-cube' class=col-sm-4>
	          <img src="{% static 'info/img/textcube.png' %}" style='height:105px;padding-bottom:15px'>
	      </div>
	      <div class=col-sm-4>
	        <p style="font-weight:bold;font-size:14pt;">RIBERA Investment Management LLC &#174;</p>
	        <p id='addy' style="font-size:12pt;">883 Island Drive Suite 200, Alameda, CA  94502</p>
	        <p style="font-size:12pt;">
	          <a href="#">Back to top</a>
	        </p>
	      </div>

	      <div id='ggs'>
	        <div class=col-sm-4>
	          <a id ='footpadding' href='/contact/'><i style="padding-right:50px;" class="glyphicon glyphicon-envelope"></i></a>
	          <a href="tel:+15555551212"><i style="padding-right:50px;" class="glyphicon glyphicon-earphone"></i></a>
	          <a href='https://www.linkedin.com/in/tyler-ribera-31903537' target="_blank"><i class="fa fa-linkedin" style="font-size:40pt;"></i></a>
	        </div>

	      </div>
	    </div>
	  </div>
	</footer>
</body>

</html>