/*B*/


body {
	padding-top:0px;
	padding-bottom: 150px;
}


/* SCREEN BREAKS */
@media (max-width: 992px) {
  .services-break{
    display:none;
  }
}

/* HEADER */
#row-header {
  padding-left:50px;
}

#logo-header {
  height:50px;
  padding-top:11px;
}

#text-header {
  display:inline;
  color:#000;
  font-weight:bold;
  vertical-align:bottom;
}

#location-header {
  float:right;
  padding-right:40px;
  font-weight:bold;
  padding-top:30px;
  color:#28466f;
}
.navbar-fixed-bottom{
  background-color: #efefef;
  border-top: 1.5px solid #b7bfcc;
}
#nav-row {
  padding-top:10px;
  padding-right:20px;
  padding-left:20px;"
}

#logo-footer {
  height:80px;
  padding-top:18px;
  padding-bottom:0px;
  display:block;
  margin:auto;
}

address {
  line-height:105%;
  padding-top:18px;
  text-align:center;
}

#icon-footer {
  padding-top:20px;
  text-align:center;
}

#icon-secon-div {
  display:inline-block;
}
#glyph-email, #glyph-phone {
  font-size: 40pt;
  color:#28466f;
  padding-right:50px;
}

#glyph-linkedin {
  font-size: 40pt;
  color:#28466f;
}

a:hover > #glyph-linkedin {
  color: #000;
}
a:hover > #glyph-email {
  color: #000;
}
a:hover > #glyph-phone {
  color: #000;
}


/* HOME */

#home-logo-div {
  padding-top:80px;
  padding-bottom:60px;
}


#home-logo {
  max-height:180px;
  width:auto;
  margin:auto;
}


hr.featurette-divider {
  background-color: #28466f;
  height: 5px;
  max-width:1100px;
  margin: auto;
}

#home-welcome {
  padding-top:20px;
  text-align:center;
}

#home-mission-statement {
  font-size:22px;
  text-align:center;
}

/* ABOUT*/
#about-banner {
  border-radius:20px;
  opacity:.82;
}

#about-ty-pic {
  width: 100%;
  margin: auto;
  border-radius: 10px 10px 0px 0px; 
}

.card {
  background-color: #2d2d2d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 15px;
  margin:auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
h1.about-header{
  text-align: center;
  padding-top: 17pt;
}

p.about-paragraph {
  font-size: 17pt;
}

#ty-card {
  text-align:center;
  color: white;
}

#ty-card-text {
  font-size:14pt;
  color:white;
  text-align:center;
  padding:0px 5px 10px 5px;
}





/* SERVICES */

#services-header {
  text-align: center;
  padding-top: 20px;
}

.services-image {
  width:40%;
  margin:auto;
  padding-top:15px;
}

#services-investment {
  width:55%;
  margin:auto;
  padding-top:15px;
}

#services-risk {
  width:45%;
  margin:auto;
  padding-top:15px;
}

.card1-text {
  padding:0px 15px 15px 15px;
  font-size: 14pt;
}

#services-bmodel {
  text-align:left;
  font-size: 14pt;
  /*padding-left:60px*/
}

.card-1 {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin:auto;
  min-height: 500px;
  text-align: center;

}
.card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

#services-bmodel-div {
  max-width: 1100px;
  text-align: center;
}

#services-bmodel-ending {
  font-size: 14pt;
}

#services-bmodel-header {
  padding-top: 17pt;
}


/*@media(max-width: 1700px){
  .card-1{
    width: 90%  !important;
  }
  #services-bmodel{
    padding-left: 10px !important;
  }
}
@media (max-width: 992px) {
	body{
		padding-bottom: 175px;
	}
  #operations{
    padding-left:5px !important;
  }
  .sbreak{
    display:none;
  }
  #glyph-span {
    padding-right: 0px !important;
  }
}
@media (max-width: 768px) {
	#ggs {
		padding-top: 0px !important;
	}

	#footer-cube, #addy  {
		display: none;
	}
	body{
		padding-bottom: 170px;
	}
  #top-header {
    padding-left: 15px !important;
  }
}


#ggs {
	padding-top: 20px;
	padding-bottom: 5px;
}



#banner {
	border-radius:20px;
	opacity:.82;
}
#divider-vert {
    background-color: #28466f;
    height: 300px;
    width:10px;
}
#ty {
	width: 100%;
	margin: auto;
	border-radius: 10px 10px 0px 0px;
}
#al {
	text-align:center;
}
hr.featurette-divider {
  background-color: #28466f;
  height: 5px;
  max-width:1100px;
  margin: auto;
}
.underline {
  background-repeat: repeat-x;
}



.fa {
  font-size: 40pt;
}
i {
	color:#28466f;
	font-size: 40px;
  font-size:40pt;
}

a:hover > span {
	color: #000;
}
.navbar{

  color: #6b6b6b;

  text-align: center;
  background-color: #efefef;

  border-top: 1.5px solid #b7bfcc; e5e5e5
}*/
/*.footer{
 
  padding-top:15px;
  color: #6b6b6b;

  text-align: center;
  background-color: #efefef;

  border-top: 1.5px solid #b7bfcc;
}*/

/*#services {
  font-size:16pt;
	text-align: center;
}

h1 {
	font-size:2.8em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    border-radius: 15px;
    margin:auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}



.card-1 {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    margin:auto;
    min-height: 500px;

}
.card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}*/



